In [1]:
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from tensorflow.keras.layers import Dense
from tensorflow.keras import Sequential
from tensorflow.keras.optimizers import Adam

In [5]:
df = pd.read_csv('./data/data/data-01.csv',header=None)
df.columns = ['q1','q2','mid','score']
df.head()

   q1  q2  mid  score
0  73  80   75    152
1  93  88   93    185
2  89  91   90    180
3  96  98  100    196
4  73  66   70    142

In [16]:
xdata = df[['q1','q2','mid']]
ydata = df[['score']]

In [19]:
x = tf.placeholder(tf.float32 , shape = [None,3])
y = tf.constant(ydata , tf.float32)

w = tf.Variable(tf.random_uniform([3,1]))
b = tf.Variable(tf.random_uniform([1]))

hx = tf.matmul(x,w) + b
cost = tf.reduce_mean( tf.square(hx-y))

optimizer = tf.train.GradientDescentOptimizer(0.00001)
train = optimizer.minimize(cost)
sess = tf.Session()
init = tf.global_variables_initializer() #############중요!!!!!!!!!!!!!!!!!!(variable값 초기화)
sess.run(init)

In [46]:
for i in range(100000):
    sess.run(train,{x:xdata})
    if i%1000 == 0 :
        print(i,sess.run(cost,{x:xdata}))

0 6.148126
1000 6.1461425
2000 6.144825
3000 6.1439185
4000 6.143226
5000 6.142704
6000 6.142251
7000 6.1418595
8000 6.141503
9000 6.141163
10000 6.1408315
11000 6.1405177
12000 6.140199
13000 6.139875
14000 6.1395726
15000 6.139261
16000 6.13896
17000 6.1386433
18000 6.1383295
19000 6.1380186
20000 6.137719
21000 6.1373982
22000 6.1370945
23000 6.136793
24000 6.136479
25000 6.1361656
26000 6.135862
27000 6.1355577
28000 6.135247
29000 6.134938
30000 6.1346354
31000 6.134336
32000 6.1340413
33000 6.133726
34000 6.133419
35000 6.1331134
36000 6.132813
37000 6.132503
38000 6.1322093
39000 6.1319017
40000 6.1315923
41000 6.131278
42000 6.1309896
43000 6.1306787
44000 6.13038
45000 6.1300697
46000 6.1297817
47000 6.1294756
48000 6.1291656
49000 6.1288557
50000 6.1285534
51000 6.128272
52000 6.1279645
53000 6.1276565
54000 6.127356
55000 6.1270714
56000 6.1267614
57000 6.1264734
58000 6.126164
59000 6.12586
60000 6.1255565
61000 6.1252675
62000 6.1249633
63000 6.1246767
64000 6.1243773
65000 6.1240797
66000 6.123769
67000 6.123482
68000 6.123183
69000 6.122894
70000 6.1225877
71000 6.1222844
72000 6.1219783
73000 6.1216946
74000 6.1214004
75000 6.121103
76000 6.1208053
77000 6.1205235
78000 6.12022
79000 6.119919
80000 6.119625
81000 6.119333
82000 6.1190467
83000 6.118742
84000 6.1184387
85000 6.1181583
86000 6.117872
87000 6.1175714
88000 6.117285
89000 6.1169868
90000 6.116699
91000 6.116411
92000 6.116119
93000 6.1158233
94000 6.1155205
95000 6.1152472
96000 6.1149397
97000 6.114653
98000 6.114378
99000 6.1140776

In [47]:
sess.run(w)

sess.run(b)

In [47]:
sess.run(hx, {x:[[73,80,75]]})